<div class="container">
    <canvas id="myChart"></canvas>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 16;
    Chart.defaults.global.defaultFontColor = '#777';


    let mainChart = new Chart(myChart, {
        type: 'line', //bar, horizontal bar, pi, line, radar, polarArea
        data: {
            labels:[
                //timeData
                    '03:22:40','03:22:57','03:23:22','03:23:36',
                    '03:23:55','03:24:08','03:24:33','03:24:49',
                    '03:25:03','03:25:19','03:25:32','03:25:48',
                    '03:26:03','03:26:29','03:26:55','03:27:13'
            ],
            datasets: [{
                label: 'Impact' ,
                data: [
                    //impactData
                    20,25.57,26.23,32.11,34.56,37.69,47.32,97.43,56.12,
                        52.89,78.78,67.89,103.42,28.66,83.99,77.77
                ],
                backgroundColor: 'rgba(54, 162,235,0.6)',
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:2,
                hoverBorderColor:'#000'
            }]
        },
        options:{
            title: {
                display: true,
                text: 'Player Impacts Throughout Match',
                fontSize: 20
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout:{
                padding:{
                    left:50,
                    right:0,
                    bottom:0,
                    top:0
                }
            },
            scales: {
                xAxes: [{label: 'Time', display: true }],
                yAxes: [{label: 'G-force',display: true}]
            },
            tooltips:{
                enabled: true
            }
        }

    });
</script>
<p>
<table class = table>
    <thread>
        <th>Impact's (G-Force)</th>
        <th>Time </th>
    </thread>
    <tbody>
    {{#each result}}
        <tr>
            <td>{{this.impacts}}</td>
            <td>{{this.time}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</p>

