<h1>{{title}}</h1>
<p>Welcome to {{title}} some features are still under development!</p>
<p>The Player Impact Tracker is a device that measures the impacts a player receives throughout a match and then displays these
results in a line graph at what time the impact was received at.</p>